<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Despachos de Cobranza<span>.</span></h3>
          <p>
            <a href="assets/despachos.pdf">Lista de despachos </a>
          </p><br><br>
          <h3>Promociones<span>.</span></h3>
          <p>
            Lista de promociones
          </p><br><br>
          <h3>Aclaraciones<span>.</span></h3>
          <p>
            <a href="assets/formatoaclaracion.pdf"> Formatos de aclaración </a> <br><br>
            <strong>Phone:</strong>449 915 9000 <br>
            <strong>Email:</strong> solicitudes@consufin.com.mx <br>
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Préstamo</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="assets/caratulacredito.pdf">Carátula de Crédito</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="assets/Redes Sociales.pdf">Cláusulas de redes Sociales</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="assets/Requisitos y modalidades para solicitud de crédito.pdf">Requisitos y modalidades para solicitud de crédito</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="assets/condicionesgenerales.pdf">Condiciones Generales de Contratación</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="assets/comisiones.pdf">Comisiones</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="assets/tasas.pdf">Tasas activas</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="assets/contratocredito.pdf">Contrato de crédito</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="assets/Términos y condiciones.pdf">Términos y condiciones</a></li>
            <li><i class="bx bx-chevron-right"></i> <a>Lugares de pago</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="assets/contratocredito.pdf">CAT ( Costo Anual Total)</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Protección al cliente</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="assets/Aviso de privacidad.pdf">Aviso de privacidad</a></li>
            <li><i class="bx bx-chevron-right"></i> <a>UNE (Unidad Especializada de atención a usuarios ) </a></li>
            <li><i class="bx bx-chevron-right"></i> <img src="assets/0001.jpg" class="image" style="max-width:100%;"> </li>
            <li><i class="bx bx-chevron-right"></i> <a>CONDUSEF</a></li>
            <li><i class="bx bx-chevron-right"></i> <a> Buró de Entidades Financieras</a></li>
            <li><i class="bx bx-chevron-right"></i> <a>Consulta los costos y comisiones de nuestros productos</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Contactanos</h4>
          <p>CONSUFIN SERVICIOS S.A. de C.V. SOFOM ENR <br><br>
            Boulevard Aguascalientes No. 208 Fracc.
            Prados del Sur C.P. 20280 Aguscalientes Ags. Mexico <br><br>
            Seguridad en tus transacciones
          </p>
          <div class="social-links mt-3">
            <a href="https://twitter.com/CONSUFIN" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/financiera.consufin.55/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a   class="instagram"><i class="fa fa-instagram"></i></a>
            <a   class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->
