* {
  padding: 0px;
  margin: 0px;
}



/* small*/
@media (max-width:576px) {
  .imagen{
     width: 50px;
  }
  .content {
    padding: 25% 16%;
    height: 100vh;
    background:  var(--color-green);
  }

  .parrafo1 p {
    font-family: BeaufortMediumItalic;
    color: white;
    font-size: 24px;
    margin-bottom: 10%;
  }

  .parrafo1 span {
    font-family: BeaufortMediumItalic;
    color: white;
    font-size: 15px;
  }

  .lista p {
    font-family: BeaufortMediumItalic;
    color: white;
    font-size: 15px;
  }

  .lista img {
    padding-bottom: 10%;
    padding-right: 10%;
  }

}



/* small*/
@media (min-width:576px) {

  .imagen{
     width: 100px;
  }
  .content {
    padding: 15% 16%;
    height: 100vh;
    background:  var(--color-green);
  }

  .parrafo1 p {
    font-family: BeaufortMediumItalic;
    color: white;
    font-size: 44px;
    margin-bottom: 10%;
  }

  .parrafo1 span {
    font-family: BeaufortMediumItalic;
    color: white;
    font-size: 30px;
  }

  .lista p {
    font-family: BeaufortMediumItalic;
    color: white;
    font-size: 30px;
  }

  .lista img {
    padding-bottom: 10%;
    padding-right: 10%;
  }

}

/*medium*/
@media (min-width:768px) {

    .imagen{
       width: 80px;
    }
    .content {
      height: 100vh;
      background:  var(--color-green);
    }






  .parrafo1 p {
    font-family: BeaufortMediumItalic;
    color: white;
    font-size: 40px;
    margin-bottom: 10%;
  }

  .parrafo1 span {
    font-family: BeaufortMediumItalic;
    color: white;
    font-size: 25px;
  }

  .lista p {
    font-family: BeaufortMediumItalic;
    color: white;
    font-size: 25px;
  }

  .lista img {

    padding-bottom: 10%;
    padding-right: 10%;
  }


}
