<div class="row">
  <div class="row content col-12 order-md-1">
    <div class="col-md-6   parrafo1">
      <p>Crédito responsable</p>
      <span>Te recomendamos  adquirir un crédito unicamente para:</span>
    </div>
    <div class="col-md-6  lista ">
      <div class=" d-flex   " style="width:100%;">
        <img src="assets/Group607.svg" class="imagen" alt="">
        <p>
          Generación de dinero</p>
      </div>
      <div class=" d-flex   " style="width:100%;">
        <img src="assets/Group608.svg" class="imagen" alt="">
        <p>
          Para solucionar contingencias</p>
      </div>
      <div class=" d-flex   " style="width:100%;">
        <img src="assets/Group609.svg" class="imagen" alt="">
        <p>
          Aprovechar oportunidades</p>
      </div>
      <div class=" d-flex   " style="width:100%;">
        <img src="assets/Group610.svg"  class="imagen" alt="">
        <p>
          Mejorar las condiciones de tu deuda</p>
      </div>
    </div>
  </div>

  <!--<app-header2 class="col-12 order-md-1"></app-header2>-->
</div>
