<div class="row">
  <div class="row content col-12 order-md-1">
    <div class="col-md-6 d-flex  flex-column align-items-center justify-content-center parrafo1">
      <img class="logo" src="assets/Recurso6.svg">
    </div>
    <div class="col-md-6 d-flex  flex-column align-items-center justify-content-center  lista ">
      <div class=" d-flex  lista-title ">
        <p> Contactamos:</p>
      </div>
      <div class="row">
        <div class=" d-flex  col-12 order-md-3 lista-item">
          <img src="assets/Location.svg" alt="">
          <span> Bulevard Aguascalientes No. 208, Prados del sur
            C.P. 20280 Aguascalientes, Ags. México.</span>
        </div>
        <div class=" d-flex   col-12 order-md-1  lista-item">
          <img src="assets/Calling.svg" alt="">
          <p>
            449&nbsp;915&nbsp;9000</p>
        </div>
        <div class=" d-flex   col-12 order-md-2 lista-item ">
          <img src="assets/Message.svg" alt="">
          <a href="mailto:hola@credenta.mx">hola@credenta.mx</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-12 order-md-2">
    <div class="row footer col-12  order-md-2">
      <div class="col-md-6  links order-md-2 " align="center">
        <a href="https://www.facebook.com/Credentamx-102991195364981"><img src="assets/Facebook.svg" class="icons"></a>
        <a href="https://www.instagram.com/credentamx/"><img src="assets/Instagram.svg" class="icons"></a>
        <a href="https://twitter.com/credentamx"><img src="assets/Twitter.svg" class="icons"></a>
      </div>
      <div class="col-md-6 row  links order-md-1" align="center">
        <a href="#" class="col-md-4 col-12">Aviso legal</a>
        <a href="assets/AVISO_DE_PRIVACIDAD.docx" class="col-md-4 col-12">Politica de privacidad</a>
        <a href="#" class="col-md-4 col-12">politica de cookies</a>
      </div>
    </div>
 
  </div>
 <!--<app-header2 class="col-12 order-md-1"></app-header2>-->
</div>
