<div class="row">
  <div class="row content order-md-1 col-12">
    <div class="col-md-6 d-flex  flex-column    parrafo1">
      <p>Que hacemos</p>
      <br>
      <span> Contamos con alianzas y convenios con empresas que otorgan  financiamiento.</span>
    </div>
    <div class="col-md-6 d-flex  flex-column     parrafo2">
      <p>Como lo hacemos</p>
      <br>
      <span>Localizamos la mejor opcion de credito para ti. Buscamos entre las financieras con las que tenemos alianzas y convenios.</span>
    </div>
  </div>
  <div class="content d-flex flex-row-reverse  justify-content-center align-items-center order-md-2 col-12 boton">
    <button type="button" name="button" class="  btn " [routerLink]="['/cotizar']">QUIERO UN PRESTAMO</button>
  </div>
  <!--<app-header2 class="order-md-1 col-12 "></app-header2>-->
</div>
